<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My bookings</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
        .paymentinfo
        {
            background-color: #5DA7DB;
        }
        .ticket
        {
            background-color: #5DA7DB;
        }
    </style>
  </head>
  <body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><h4>Travel & Stay</h4></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="searchflights">Book flights</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="searchhotels">Book hotels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="viewcart">My cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="mybookings">My bookings</a>
                    </li>
                    
                    
                </ul>
                <span class="align-middle mr-2">
                    <a class="nav-link active" href="editprofile">
                        <h1 class="display-4 fs-5 text-center ">Welcome, <%= user.username %> &nbsp; </h1>
                    </a>
                </span>
                    <a href="logout">
                        <button class="btn btn-warning  ml-2" type="submit">Log out</button>
                    </a>
                </div>
            </div>
        </nav>
    </div> 
    <div class="container text-center">
    <h3 class="mt-2">My bookings</h3>
    <div class="container-fluid justify-content-center mt-5 mb-5">
        <div class="row justify-content-center">
        <% for(var i=0; i < search_results.length; i++) { %>
            <% if(search_results[i].type == "flight_ticket") { %>
                <div class="row justify-content-center">
                    <div class="col-8 text-center">
                       
                        <div class="card mb-2 p-2" style="max-width: 760px;">
                            <div class="row">
                              <div class="col-md-4 m-0 mt-2">
                                  <h5 class="card-title mb-2" name="flightname"><%= search_results[i].flight_name %></h5>
                                  <label for="name" class="form-label p-0 mt-2 mb-0"><i>Departure airport</i></label>
        
                                  <p class="card-text p-0 m-0" name="departure_airport"><%= search_results[i].departure_airport %></p>
                                  <label for="name" class="form-label p-0 mt-2 mb-0"><i>Departure date</i></label>
        
                                  <p class="card-text p-0 m-0" name="departure_date"><%= search_results[i].departure_date %></p>
                                  <label for="name" class="form-label p-0 mt-2  mb-0"><b><i>Departure time</i></b></label>
        
                                  <p class="card-text p-0 m-0" name="departure_time"><%= search_results[i].departure_time %></p>
                              </div>
                              <div class="col-md-5 m-0 mt-2 text-center">
                                <h5 class="card-title mb-2" name="hotel_name"><%= search_results[i].flightnumber %></h5>
                                  <label for="name" class="form-label p-0 mt-2 mb-0"><i>Arrival airport</i></label>
        
                                  <p class="card-text p-0 m-0" name="departure_airport"><%= search_results[i].arrival_airport %></p>
                                  <label for="name" class="form-label p-0 mt-2 mb-0"><i>Arrival date</i></label>
        
                                  <p class="card-text p-0 m-0" name="departure_date"><%= search_results[i].arrival_date %></p>
                                  <label for="name" class="form-label p-0 mt-2 mb-0"><b><i>Arrival time</i></b></label>
        
                                  <p class="card-text p-0 m-0" name="departure_time"><%= search_results[i].arrival_time %></p>
                            </div>
                              <div class="col-md-3">
                                <div class="row mb-1 p-4">
                                    <h5 class="card-title mb-2" name="price">$<%= search_results[i].price %></h5>
                                    <form method="post" action="cancel_flight_booking" class="mt-4">
                                        <input type="hidden" id="type" name="type" value = "flight_ticket"/>
                                        <input type="hidden" id="flight_id" name="flight_id" value = "<%= search_results[i].flight_id %>"/>
                                        <input type="hidden" id="flight_name" name="flight_name" value = "<%= search_results[i].flight_name %>"/>
                                        <input type="hidden" id="flightnumber" name="flightnumber" value = "<%= search_results[i].flightnumber %>"/>
                                        <input type="hidden" id="departure_airport" name="departure_airport" value = "<%= search_results[i].departure_airport %>"/>
        
                                        <input type="hidden" id="arrival_airport" name="arrival_airport" value = "<%= search_results[i].arrival_airport %>"/>
                                        <input type="hidden" id="departure_date" name="departure_date" value = "<%= search_results[i].departure_date %>"/>
                                        <input type="hidden" id="arrival_date" name="arrival_date" value ="<%= search_results[i].arrival_date %>"/>
                                        <input type="hidden" id="departure_time" name="departure_time" value ="<%= search_results[i].departure_time %>"/>
                                        <input type="hidden" id="arrival_time" name="arrival_time" value ="<%= search_results[i].arrival_time %>"/>
                                        <input type="hidden" id="passengers" name="passengers" value ="<%= search_results[i].passengers %>"/>
                                        <input type="hidden" id="price" name="price" value ="<%= search_results[i].price %>"/>                                        
                                        
                                        <button type="submit" class="btn btn-danger m-0">Cancel booking</button>
                                    </form>
                                </div>
                              </div>
                            </div>
                        </div>
                        
                    </div>
                </div> 
            <% } %>
            <% if(search_results[i].type != "flight_ticket") { %>
                <div class="row justify-content-center">
                    <div class="col-8">
                       
                        <div class="card mb-2" style="max-width: 760px;">
                            <div class="row">
                              <div class="col-md-5">
                                <% if(search_results[i].type == 'suite') { %>
                                <img src="suit.jpg" class="img-fluid rounded-start" alt="..." width = "100%" height="100%">
                                <% } %>
                                <% if(search_results[i].type == 'room') { %>
                                    <img src="room.jpg" class="img-fluid rounded-start" alt="..." width = "100%" height="100%">
                                <% } %>
                              </div>
                              <div class="col-md-4 m-0 mt-2">
                                <h5 class="card-title" name="hotel_name"><%= search_results[i].hotel_name %></h5>
                                <p class="card-text p-0 m-1" name="check_in_date"> <b>Check-in date:</b> <%= search_results[i].check_in_date %></p>
                                <p class="card-text p-0" name="check_out_date"><b>Check-out date:</b> <%= search_results[i].check_out_date %></p>
                                <p class="card-text p-0 mb-1" name="people"> A <b><%= search_results[i].roomName %></b> for <b><%= search_results[i].people %></b></p>
                                <p class="card-text p-0 m-0" name="city"><b></b> <%= search_results[i].city.charAt(0).toUpperCase() + search_results[i].city.slice(1) %></p>
                                <p class="card-text p-0 mb-1" name="address"><b></b> <%= search_results[i].address %></p>
                              </div>
                              <div class="col-md-3 mt-4">
                                <div class="row mt-2 p-2">
                                    <h5 class="card-title mb-2" name="price">$<%= search_results[i].price %></h5>    
                                    <form method="post" action="cancel_booking" class="mt-4">
                                        <input type="hidden" id="roomId" name="roomId" value = "<%= search_results[i].roomId %>"/>
                                        <input type="hidden" id="hotelId" name="hotelId" value = "<%= search_results[i].hotelId %>"/>
                                        <input type="hidden" id="hotel_name" name="hotel_name" value = "<%= search_results[i].hotel_name %>"/>
                                        <input type="hidden" id="type" name="type" value = "<%= search_results[i].type %>"/>
                                        <input type="hidden" id="roomName" name="roomName" value = "<%= search_results[i].roomName %>"/>
        
                                        <input type="hidden" id="check_in_date" name="check_in_date" value = "<%= search_results[i].check_in_date %>"/>
                                        <input type="hidden" id="check_out_date" name="check_out_date" value = "<%= search_results[i].check_out_date %>"/>
                                        <input type="hidden" id="people" name="people" value ="<%= search_results[i].people %>"/>
                                        <input type="hidden" id="price" name="price" value ="<%= search_results[i].price %>"/>
                                        <input type="hidden" id="amenities" name="amenities" value ="<%= search_results[i].amenities %>"/>
                                        <input type="hidden" id="city" name="city" value ="<%= search_results[i].city %>"/>
                                        <input type="hidden" id="address" name="address" value ="<%= search_results[i].address %>"/>                                        
                                        
                                        <button type="submit" class="btn btn-danger m-0">Cancel booking</button>
                                    </form>                               
                                </div>
                              </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            <% } %>
        <% } %>
    </div>
    </div>
</div>
    <script>
        var return_date = "";
        var travel_date = "";
        function reset_date_native() {
            var date_input = document.getElementById('return_date');

            //erase the input value
            date_input.value = '';

            //prevent error on older browsers (aka IE8)
            if (date_input.type === 'date') {
                //update the input content (visually)
                date_input.type = 'text';
                date_input.type = 'date';
            }
        }
        function getReturnDate()
        {
            return_date_field = document.getElementById("return_date");
            return_date = document.getElementById("return_date").value;
            travel_date = document.getElementById("travel_date").value;
            if(travel_date>return_date)
            {
                alert("Please select a proper date of return");
                // Resetting the return date
                reset_date_native()
            }
        }
        function getTravelDate()
        {
            travel_date_field = document.getElementById("travel_date");
            travel_date = document.getElementById("travel_date").value;
            // travel_date_field.innerHTML = 'None';
            console.log("travel_date:",travel_date);
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  </body>
</html>